.background {
    dark: rgb(62,41,54);
    -fx-background-color: white;
    -fx-font-family: "Circe Light";
    -fx-font-size: 13;
    -fx-focus-color: dark;
    -fx-faint-focus-color: transparent;
}

.help_icon {
    -fx-fill: dark;
}

.text-text {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: dark;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.cell: selected {
    -fx-background-color: dark;
    -fx-fill: white;
}

#progressIndicator {
    -fx-progress-color: dark;
}

#heading {
    -fx-font-size: 14;
}

